NODE_ENV=development
NODE_OPTIONS=--no-warnings

NEXT_PUBLIC_CHAIN_ID=

GRAILS_API_URL=https://api.grails.app/api/v1
NEXT_PUBLIC_GRAILS_API_URL=https://api.grails.app/api/v1

ENS_METADATA_URL=https://metadata.ethid.org
NEXT_PUBLIC_ENS_METADATA_URL=https://metadata.ethid.org

ENS_METADATA_CACHE_INVALIDATION_TOKEN=
CACHE_INVALIDATION_TOKEN=

NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

NEXT_PUBLIC_QUICKNODE_ID=

NEXT_PUBLIC_MAINNET_ALCHEMY_ID=
NEXT_PUBLIC_SEPOLIA_ALCHEMY_ID=
NEXT_PUBLIC_BASE_ALCHEMY_ID=
NEXT_PUBLIC_BASE_SEPOLIA_ALCHEMY_ID=
NEXT_PUBLIC_OPTIMISM_ALCHEMY_ID=
NEXT_PUBLIC_OP_SEPOLIA_ALCHEMY_ID=

OPENSEA_API_KEY=
NEXT_PUBLIC_OPENSEA_API_KEY=
NEXT_PUBLIC_OPENSEA_API_URL=https://api.opensea.io

NEXT_PUBLIC_USE_CONDUIT=true
NEXT_PUBLIC_CAN_CLAIM_POAP=true

X_BEARER_TOKEN=

NEXT_PUBLIC_ENS_V2_ETH_REGISTRY=
NEXT_PUBLIC_ENS_V2_ETH_REGISTRAR=
NEXT_PUBLIC_ENS_V2_ETH_RENEWER_V1=
NEXT_PUBLIC_ENS_V2_VERIFIABLE_FACTORY=
NEXT_PUBLIC_ENS_V2_PERMISSIONED_RESOLVER_IMPL=
NEXT_PUBLIC_ENS_V2_MIGRATION_HELPER=

NEXT_PUBLIC_ENS_REGISTRY=
NEXT_PUBLIC_ENS_REGISTRAR=
NEXT_PUBLIC_ENS_NAME_WRAPPER=
NEXT_PUBLIC_SEAPORT_ADDRESS=
NEXT_PUBLIC_CONDUIT_ADDRESS=
NEXT_PUBLIC_CONDUIT_KEY=
NEXT_PUBLIC_OPENSEA_CONDUIT_ADDRESS=
NEXT_PUBLIC_OPENSEA_CONDUIT_KEY=
NEXT_PUBLIC_OPENSEA_FEE_RECIPIENT=
NEXT_PUBLIC_BULK_TRANSFER_ADDRESS=
NEXT_PUBLIC_WETH_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_DAI_ADDRESS=
