@import 'tailwindcss';

:root {
  --background: #222222;
  --foreground: #ffffff;
  --primary: #ffdfc0;
  --secondary: #333333;
  --tertiary: #444444;
  --neutral: #aaaaaa;
  --max-width-domain-panel: 1700px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;
  --padding-xl: 24px;
  --padding-2xl: 32px;
  --vertical-padding-home-desktop: 180px;
  --vertical-padding-home-mobile: 104px;
  --vertical-padding-dashboard-desktop: 196px;
  --vertical-padding-dashboard-mobile: 104px;
  --font-size-xs: 10px;
  --font-size-sm: 11px;
  --font-size-md: 12px;
  --font-size-lg: 14px;
  --font-size-xl: 16px;
  --font-size-2xl: 20px;
  --font-size-3xl: 24px;
  --font-size-4xl: 32px;
  --font-size-5xl: 40px;
  --font-size-6xl: 48px;
  --font-size-7xl: 56px;
  --font-size-8xl: 64px;
  --font-size-9xl: 72px;
  --font-size-10xl: 80px;
  --shadow-color: #8885;
  --shadow-small: 1px 1px 2px 0px var(--shadow-color);
  --shadow-medium: 2px 2px 4px 0px var(--shadow-color);
  --shadow-large: 4px 4px 8px 0px var(--shadow-color);
  --shadow-xl: 4px 8px 16px 0px var(--shadow-color);
}

@theme inline {
  --breakpoint-xs: 420px;
  --breakpoint-xxl: 2340px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  --font-inter: var(--font-inter);
  --font-sedan-sc: var(--font-sedan-sc);
  --padding-sm: var(--padding-sm);
  --padding-md: var(--padding-md);
  --padding-lg: var(--padding-lg);
  --padding-xl: var(--padding-xl);
  --padding-2xl: var(--padding-2xl);
  --max-width-domain-panel: var(--max-width-domain-panel);
  --padding-homeDesktop: var(--vertical-padding-home-desktop);
  --padding-homeMobile: var(--vertical-padding-home-mobile);
  --padding-dashboardDesktop: var(--vertical-padding-dashboard-desktop);
  --padding-dashboardMobile: var(--vertical-padding-dashboard-mobile);
  --text-xs: var(--font-size-xs);
  --text-sm: var(--font-size-sm);
  --text-md: var(--font-size-md);
  --text-lg: var(--font-size-lg);
  --text-xl: var(--font-size-xl);
  --text-2xl: var(--font-size-2xl);
  --text-3xl: var(--font-size-3xl);
  --text-4xl: var(--font-size-4xl);
  --text-5xl: var(--font-size-5xl);
  --text-6xl: var(--font-size-6xl);
  --text-7xl: var(--font-size-7xl);
  --text-8xl: var(--font-size-8xl);
  --text-9xl: var(--font-size-9xl);
  --text-10xl: var(--font-size-10xl);
  --shadow-sm: var(--shadow-small);
  --shadow-md: var(--shadow-medium);
  --shadow-lg: var(--shadow-large);
  --shadow-xl: var(--shadow-xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100dvh;
    width: 100vw;
    top: 0;
    left: 0;
  }

  /* Remove spinner arrows from number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

/* Name Gradients */
.gradient-blue {
  background: linear-gradient(331.79deg, #44bcf1 2.57%, #628bf2 65.63%, #a099fe 149.86%);
}

.gradient-purple {
  background: linear-gradient(135deg, #682e7e 0%, #2b0c65 100%);
}

.gradient-gray {
  background: linear-gradient(135deg, rgba(129, 133, 152, 0.7) 0%, rgba(129, 133, 152, 0.05) 103.11%);
}

/* .user-profile {
  z-index: 1;
} */

/* .user-profile-header-container {
  z-index: -1000;
} */

.user-profile {
  box-sizing: border-box;
}

.user-profile-content {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}

/* Got some issue with FullWidthProfile from Ethereum Identity Kit,
   so I have created this abominable media queries to fix the issue,
   please don't judge me, I'll fix it later */
@media screen and (min-width: 1380px) and (max-width: 1440px) {
  .more-options {
    right: 60px !important;
  }

  .user-profile-status-container {
    right: 60px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1540px) {
  .more-options {
    right: 100px !important;
  }

  .user-profile-status-container {
    right: 100px !important;
  }
}

@media screen and (min-width: 1540px) and (max-width: 1640px) {
  .more-options {
    right: 160px !important;
  }

  .user-profile-status-container {
    right: 160px !important;
  }
}

@media screen and (min-width: 1640px) and (max-width: 1800px) {
  .more-options {
    right: 220px !important;
  }

  .user-profile-status-container {
    right: 220px !important;
  }
}

@media screen and (min-width: 1800px) {
  .more-options {
    right: 320px !important;
  }

  .user-profile-status-container {
    right: 320px !important;
  }
}

.common-followers-modal-backdrop {
  z-index: 1000 !important;
  padding-top: 90px !important;
}
